[2015-03-09 15:00] sallespro opened #1 "can't find /api/things route neither in the server templates nor the generated app"
hi, i am exploring the generator and could not fully experiment the api. i have just been able to authenticate users but not have a clear understanding of all the possible /api calls.

[2015-03-13 08:44] michaelkrone commented on #1
Hallo @sallespro. Thank you for your interest in my project. I will update the sources this weekend. The api/things route is an unused artifact that will be removed in the next version. The documentation will also be updated (the README and the client docs will be generated as well).
Stay tuned.

[2015-03-18 00:58] michaelkrone commented on #1
The sources have been updated. The things route has been removed. The README will receive a comprehensive update soon.

Some things to try:

Simply accept all standard answers (hit enter all the time):
[code]

[2015-03-18 10:18] michaelkrone commented on #1
The README has been updated as well

[2015-03-18 10:18] #1 closed

[2015-04-11 10:45] merqurio opened #6 "Some errors with angular-animate.js ?"
Hi !

I just created an instance with the generator, but it seems that there is a problem with animate.js. The browser reports:
[code]

I'm going to try with a different version of angular-animate and or a different angular version.
Everything else seems to work nicely

thanks and I hope this helps  :smile:

[2015-04-13 10:34] michaelkrone commented on #6
Thank you, I will have a look at this.

[2015-04-13 16:36] jeveloper opened #7 "socket.io config and lib will break npm start"
In the case of responding "n" to socket.io , app.js will still have code loading socket.io config and module and it won't work obviously since they are missing.

[2015-04-13 19:51] michaelkrone commented on #7
Hello @jeveloper. Thank you for your issue report.
Can you explain the issue in more detail?
What do you mean with responding "n"?

[2015-04-15 14:18] michaelkrone commented on #6
This is due to a version conflict with angular 1.4 and angular-material master, which depends on 1.3. For now the latest available stable material version is used: 0.8.3. I would like to keep Angular 1.4 since it is stable soon. There are still some minor errors relating angular-animate but the app will work fine.

To use the AngularJS 1.3 branch modify the bower.json versions and resolutions. The

[2015-04-15 14:18] #6 closed

[2015-04-15 14:18] michaelkrone commented on #7
Sorry @jeveloper, I understand now. You are right, optional socket.io support is not completed yet. It does not need much to be done but I am preparing a switch to the new Angular router, so I removed optional socket.io support in version 0.1.2. This should close this Issue, but I am not satisfied with the solution. Optional socket.io support is definitely on my list.

Closed with 1ad8342220ba6ead

[2015-04-15 14:18] #7 closed

[2015-04-15 15:18] dbrooks75 commented on #6
I was having same issue.  Angular-animate 1.3.15 was installed, while the rest of the angular components were 1.4.*.  I got the app working by changing bower.json to:

{
  "name": "myApp",
  "version": "0.0.1",
  "dependencies": {
    "angular": ">=1.4.*",
    "angular-resource": ">=1.4.*",
    "angular-cookies": ">=1.4.*",
    "angular-sanitize": ">=1.4.*",
    "angular-messages": ">=1.4.*",

[2015-04-15 17:43] michaelkrone commented on #6
Hello @dbrooks75. The latest version 0.1.2 should force the installation of angular-animate 1.4. I hope angular-material updates to 1.4 soon.

Thank you for your input.

[2015-04-15 20:36] merqurio commented on #6
Thanks @dbrooks75 , I'll check it, this is definitively an awesome project

[2015-04-20 16:38] kiempoturner opened #10 "MongoDB connection refused"
I got this error :

Database Error:  { [MongoError: connect ECONNREFUSED] name: 'MongoError', message: 'connect ECONNREFUSED' }

What is the meaning of this

[2015-04-20 16:54] merqurio commented on #10
That means that you don't have a mongo database installation working on your computer. You should [install mongo first](https://www.mongodb.org/downloads), and then make sure [you can run it](http://docs.mongodb.org/manual/tutorial/getting-started/). Once you do that, run this app.

[2015-04-21 04:34] kiempoturner commented on #10
Okay sorry for the trouble, I will try it asap. Thank You

[2015-04-21 11:37] michaelkrone commented on #10
I will close this issue, please reopen if there are any problems with the connection.
Thank you @merqurio for your fast and comprehensive response.

[2015-04-21 11:37] #10 closed

[2015-05-06 13:20] gpedro opened #11 "Missing 'development' Task"
[code]

[2015-05-06 18:39] michaelkrone commented on #11
Thank you @gpedro, gulp tasks are still a mess.

[2015-05-06 18:39] #11 closed

[2015-05-11 20:28] dmreagan opened #12 "Sass Build Problem"
Hello,

I got the following error when trying to build on Linux:

[code]

Any ideas?

[2015-05-12 07:53] michaelkrone commented on #12
Hello,

can you verify Ruby and Sass are installed on your system?
[code]

[2015-05-12 16:46] dmreagan commented on #12
Yeah, that was it. Clearly, I'm new to Sass, but everything's running now. Thanks for the quick response.

[2015-05-12 16:46] #12 closed

[2015-07-22 14:01] elmor34 opened #15 "Project does not start with following massages"
Running on MacOsx inside bitnami stack.
Node version :0.12.4   npm version :  3.x
Noticable error during generation :+1:
## # gyp: No Xcode or CLT version detected!

## Error Messages
npm start

yoMaterial started server on ip 0.0.0.0 on port 9001, in development mode
Database connection open
Populating test and development data ...

/Volumes/work/mean304/apache2/htdocs/yoMaterial/server/api/user/

[2015-07-22 18:19] michaelkrone commented on #15
Hi.
The stack looks like a database permission problem, not an error with the generator itself.

Looks like you need to grant the 'read' role to your db user with the db.grantRolesToUser command. I think the dbAdmin user cannot read from db's other than the system collections by default.

See here: http://docs.mongodb.org/manual/reference/built-in-roles/#read

It would be great if you could provid

[2015-07-23 17:14] brunofreitas7 opened #16 "error with gulp build"
Hi, I followed the steps to generate an app, but when I executed the gulp build command that error is showed:

 gulp build
[13:52:42] Using gulpfile ~/Dev/yeoman-test/gulpfile.js
[13:52:42] Starting 'sass'...

events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: spawn sass ENOENT
    at exports._errnoException (util.js:746:11)
    at Process.ChildProcess._handle.onexit (chi

[2015-07-23 17:34] brunofreitas7 commented on #16
work, needed to install the ruby-sass:
sudo apt-get install ruby-sass

[2015-07-23 17:34] #16 closed

[2015-07-24 12:09] brfreitas opened #17 "Error with css"
Hi,
when a run the npm start in the browser I have this js error:

    TypeError: cssClasses.split is not a function
        at jqLiteAddClass (angular.js:2897)
        at Function.$get.extend.addClass (angular.js:3538)
        at angular-animate.js:119
        at forEach (angular.js:336)
        at $$addClass (angular-animate.js:118)
        at options (angular-animate.js:132)
        at close (a

[2015-08-09 05:37] NBAMj commented on #17
I'm facing the same issue

[2015-08-22 21:22] petersandor opened #19 "Postinstall error on Windows"
[code]

Already created a PR for this #18

[2015-08-23 07:04] michaelkrone commented on #19
Thank you. PR merged.

[2015-08-23 07:04] #19 closed

[2015-08-24 20:52] michaelkrone commented on #15
Please reopen this issue if any problems regarding the mongoose connections occur.

[2015-08-24 20:52] #15 closed

[2015-08-27 17:04] panagorn opened #20 "Styles issue"
Hello i have a problem with the styles.
![untitled](https://cloud.githubusercontent.com/assets/8356922/9527275/c0932df4-4cf6-11e5-9bed-7f41657f3d54.png)

[2015-08-27 17:27] michaelkrone commented on #20
Hi.
Looks like the list-image directive is not working. Do you have any errors in the console?

There will be an update on the Material Version tomorrow evening. The issue will be obsolete then, I think.

[2015-08-27 17:28] michaelkrone commented on #20
Could you please check if the Sass is compiled for the directive too?

[2015-08-27 17:41] panagorn commented on #20
no console errors. How i can check if the sass is compiled?

[2015-08-27 21:36] michaelkrone commented on #20
I see - your on windows, right?
This should be fixed with the latest version, see Issue Nr. #18, fixed by @petersandor
I just published 0.1.4 on npm, I recommend to try the latest version, just run npm install to get it.

I am just working on a layout update and plan to release tomorrow.

[2015-08-27 22:13] panagorn commented on #20
ok thank you

[2015-08-27 23:47] michaelkrone commented on #20
Just reinstall the generator by running

    npm install -g generator-material-app

and create a new application. Did that work for you?

[2015-08-28 08:45] panagorn commented on #20
No is not working

[2015-08-28 10:38] michaelkrone commented on #20
Are there any errors when running

    yo material-app
    gulp

[2015-08-28 10:54] panagorn commented on #20
i am getting this error on yo material-app
![untitled](https://cloud.githubusercontent.com/assets/8356922/9544810/49784fc4-4d8c-11e5-99b3-399102e26d46.png)

[2015-08-28 12:23] michaelkrone commented on #20
This looks like a permission problem to me. Could you grant read/write permissions to C:\Users\panayoitis\AppData\Roaming\npm-cache?

Sorry, I have no experience with node development under Windows.

[2015-08-28 13:22] panagorn commented on #20
I set the permissions. Now i dont get an error but the style is the same. No changes at all

[2015-08-28 21:27] panayiotisera opened #21 "Openshift"
Hello can you add some configurations so we can push the app to the openshift to work? And please add a file that we can define the env variables there. Thank you

[2015-09-11 15:15] Malusia opened #22 "Licence"
Hey, can you add a Licence to your project?

[2015-09-11 16:18] michaelkrone commented on #22
Hi @Malusia.

There is a LICENSE file in the root directory: https://github.com/michaelkrone/generator-material-app/blob/master/LICENSE

If you plan to use this project it is worth waiting for the upcomming Version 1.0.0, which will use the latest material version and makes heavy use of generator composition.

[2015-09-11 16:18] #22 closed

[2015-09-11 16:46] Malusia commented on #22
Thanks a lot!

[2015-10-13 17:31] ruizhit opened #24 "gulp build fails"
Hi!
I get the following error :

[12:26:21] Using gulpfile ~/Developer/nodejs/yogenerators/gmaterialapp/gulpfile.js
[12:26:21] Starting 'sass'...

events.js:141
      throw er; // Unhandled 'error' event
      ^
Error: spawn sass ENOENT
    at exports._errnoException (util.js:849:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:178:32)
    at onErrorNT (internal/child_proc

[2015-10-14 07:12] michaelkrone commented on #24
Hi.
[code]
You need sass to compile the scss files to css. See here: http://sass-lang.com/install

[2015-10-14 15:27] ruizhit commented on #24
Thank you @michaelkrone !

[2015-10-14 15:27] #24 closed

[2015-10-22 20:20] ruizhit opened #25 "i can not add a new record in new generated entity"
Hi i got this issue

I click on create one.
The app shows create modal, but immediately closes the modal
without giving me a chance to add the record

No errors in developer console

![closewindow](https://cloud.githubusercontent.com/assets/7987506/10677009/8079f068-78cf-11e5-8e68-9baf7e2d78df.png)

immediately closes the modal

<img width="1271" alt="screen shot 2015-10-22 at 15 16 59" src="https

[2015-10-22 21:03] ruizhit opened #26 "i can not edit users"
Go to edit test user
<img width="1271" alt="screen shot 2015-10-22 at 15 20 39" src="https://cloud.githubusercontent.com/assets/7987506/10677241/bf9aa782-78d0-11e5-91b4-eb2d8607c56f.png">
_
Modified role
and click save
<img width="1275" alt="screen shot 2015-10-22 at 15 21 02" src="https://cloud.githubusercontent.com/assets/7987506/10677259/da6f15de-78d0-11e5-9091-43be1a990bf6.png">

Terminal erro

[2015-10-24 02:01] zanjs opened #27 "npm start"
julauddeMacBook-Pro:app julaud$ npm start

events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 0.0.0.0:9001
    at Object.exports._errnoException (util.js:874:11)
    at exports._exceptionWithHostPort (util.js:897:20)
    at Server._listen2 (net.js:1234:14)
    at listen (net.js:1270:10)
    at net.js:1379:9
    at doNTCallback3 (node.js:450:9)
    at process

[2015-10-25 16:53] michaelkrone commented on #27
Hi @zanjs.
```Error: listen EADDRINUSE 0.0.0.0:9001```
This means that there is already an application running on port 9001. Simply switch to another port by editing the ```port``` property in the server/config/index.js file or start the application using a ```PORT``` environment variable:
```PORT=9002 node ./bin/server.js```

[2015-10-25 16:53] #27 closed

[2015-10-25 16:54] michaelkrone commented on #26
Hi @ruizhit.
Thank you, I will have a look at this.

[2015-10-25 16:54] michaelkrone commented on #25
Hi @ruizhit.
Thank you, I will have a look at this at well.

[2015-10-26 00:53] zanjs commented on #27
thinks ！ Let me try！

[2015-10-28 17:25] julia-bougaev commented on #10
I am sorry but I have the same problem. I've installed mongo. I cannot figure out where is db itself in your application, should I create it myself (if so in which directory)? In the index.js file I cannot find setting for config.mongo.uri and config.mongo.options. Am I missing something?

[2015-10-28 17:57] julia-bougaev opened #28 "An erro when start the app"
How can I run the application? Using npm start I get

0 info it worked if it ends with ok
 1 verbose cli [ 'c:\Program Files (x86)\nodejs\node.exe',
 1 verbose cli 'c:\Program Files (x86)\nodejs\node_modules\npm\bin\npm-cli.js',
 1 verbose cli 'start' ]
 2 info using npm@2.11.3
 3 info using node@v0.12.7
 4 verbose stack Error: ENOENT, open 'c:\Test\package.json'
 4 verbose stack at Error (native)

[2015-10-28 17:57] julia-bougaev opened #29 "reopen for #10"
I am sorry but I have the same problem. I've installed mongo and run it. I put db in some folder which is outside the app folder. But in the index.js file I cannot find setting for config.mongo.uri and config.mongo.options. Am I missing something?

Thanks

[2015-10-28 19:57] suman28 commented on #28
i am also getting the same error..pls help

[2015-10-29 08:13] michaelkrone commented on #28
Hi.

Did you call ```npm start``` in the root folder of the generated app (where the package.json is located)?

[2015-10-29 08:15] michaelkrone commented on #29
Hi @julia-bougaev.

What does 'I put db in some folder which is outside the app folder' mean, and what error do you get (can you paste the error message here)?

[2015-10-29 12:33] julia-bougaev commented on #28
Thanks, it works.

[2015-10-29 12:35] julia-bougaev commented on #29
Sorry for the disturbance. After I resolved my issue with starting the app everything is working now. Thanks

[2015-10-30 08:06] michaelkrone commented on #29
Fine, no problem.

[2015-10-30 08:06] #29 closed

[2015-10-30 08:06] #28 closed

[2015-10-31 18:55] julia-bougaev opened #30 "Installing on mac error"
93844 error Darwin 13.4.0
93845 error argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
93846 error node v5.0.0
93847 error npm  v3.3.10
93848 error code ELIFECYCLE
93849 error app@0.0.0 postinstall: `node ./node_modules/gulp-protractor/node_modules/protractor/bin/webdriver-manager update`
93849 error Exit status 1
93850 error Failed at the app@0.0.0 postinstall script 'node ./node_modules

[2015-11-01 11:02] ricsard commented on #26
I also saw this bug, and it was because of invalid usage of 'this'

[2015-11-01 11:09] ricsard commented on #25
@ruizhit I also have this problem, as I see we faced with the same issues, I didn't find the solution for this yet, but I would appreciate if we find a solution for sg we will share it here :)
@michaelkrone :+1:

[2015-11-02 08:42] michaelkrone commented on #26
Hey @ricsard,

would you create a pull request for this error?

[2015-11-02 08:45] michaelkrone commented on #30
Hey @julia-bougaev.
To make the npm install work, simply remove this line: https://github.com/michaelkrone/generator-material-app/blob/master/generators/app/templates/package.json#L35 from the package json, it simply updates the webdriver sources. I will have a look at this later.

[2015-11-02 18:25] julia-bougaev commented on #30
Thanks, I'll try

[2015-11-03 13:29] AndrewBarfield opened #31 "Yeoman and Gulp errors on Ubuntu 15.04"
## yo material-app output:

104201 verbose stack Error: app@0.0.0 postinstall: `node ./node_modules/gulp-protractor/node_modules/protractor/bin/webdriver-manager update`
104201 verbose stack Exit status 1
104201 verbose stack     at EventEmitter.<anonymous> (/usr/lib/node_modules/npm/lib/utils/lifecycle.js:232:16)
104201 verbose stack     at emitTwo (events.js:87:13)
104201 verbose stack     at Ev

[2015-11-06 00:16] lexholden commented on #31
+1 same problem.

[2015-11-06 00:23] AndrewBarfield commented on #31
I ended-up buying this for $1.59 (2.20 Australian):
http://www.bossable.com/1231/material-design-meanjs/

If you changed all the version numbers in "package.json" and "bower.json" it will run on Node.js 4.x and 5.x with a few other simple adjustments.

[2015-11-06 14:52] cmarrero01 opened #32 "Cannot read property 'auth' of undefined"
When I run

yo material-app:api multiplayer

I have the next error:

TypeError: Cannot read property 'auth' of undefined
    at Object.prompts.when (/usr/local/lib/node_modules/generator-material-app/generators/api/index.js:44:39)
    at module.exports (/usr/local/lib/node_modules/yo/node_modules/inquirer/node_modules/run-async/index.js:15:21)
    at AnonymousObservable.__subscribe (/usr/local/lib

[2015-11-13 03:36] Bernix01 commented on #25
Hi, in my case for some reason the paths are generated with "\" instead of "/" which got scaped causing the dialog to hide... the workaround was going through

entity.js
main/main.js
list/list.js
list/detail/detail.js
list/edit/edit.js

and change the "\" with "/" after that the dialog didn't dissappear.

[2015-11-17 22:42] michaelkrone commented on #31
This seems to be related to the flat directory structure of npm 3.  Just remove the postinstall script from the package.json or adjust the path to the protactor webdriver binary when using npm 3. I will remove the postinstall (replace with a gulp task) in an updated version.

[2015-11-17 22:45] michaelkrone commented on #25
Hi @Bernix01. Which paths were generated with a "\"? The routes?

[2015-11-17 23:11] Bernix01 commented on #25
@michaelkrone those for the html templates.

[2015-11-20 23:49] tenchugecko commented on #25
I got it working, but the create immediately hides again, after changing the server model

[2015-11-21 12:01] tenchugecko commented on #25
Ok got the update thingy:

 at \server\lib\controllers\param.controller.js:114:12
Search for "this" inside the mongodbCrud closures and do the
var self = this
to get this into the scope of the closure

'''
update: function (req, res) {

	    var self = this;

		if (req.body._id) {
			delete req.body._id;
		}

		var self = this;
		var bodyData = _.omit(req.body, this.omit);
		var updated = _.merge(

[2015-11-21 12:31] tenchugecko commented on #25
the other thing about that create window auto hiding

removing the hide from statechanged "fixes" it, so  - what is it i'm not understanding here :)
[code]

[2015-11-21 14:34] Bernix01 commented on #25
As @tenchugecko suggested

[code]

fixes the auto hiding problem now all seems to work.

[2015-11-21 15:50] tenchugecko commented on #25
so : why is the onStateChanged fired right away on these views

 and not why is it not fired on the Admin/Users view.

[2015-12-05 17:57] amirmo commented on #26
+1.
I tried @ricsard solution and it works just fine.

[2015-12-06 21:50] dennisa opened #33 "Cannot read property 'paramName' of undefined"
I've generated an server api for one of my entities abut when I run the unit test I get the following error on a PUT and DELETE:

Cannot read property 'paramName' of undefined

app/server/lib/controllers/param.controller.js:115:12

[2015-12-25 19:03] donchoko commented on #20
I had the same issue with styles. I didn't have ruby or sass installed, and gulp build was showing some errors related. I installed ruby ([Download Ruby](http://rubyinstaller.org/downloads/)) and installed sass <code>gem install sass</code> and finally do <code>gulp build</code> and styles should work fine.

[2016-02-09 23:49] earlcristopher opened #34 "Stuck in kerberos"
Hello Michael,

I tried running the 'yo material-app' twice and have been stuck in kerberos@0.0.11 install...

Please advice.

Thank you!

[2016-02-17 11:22] michaelkrone commented on #34
Hello @earlcristopher,

mongo has Kerberos as a dependency, if I recall correctly you have to do a ```apt-get install libkrb5-dev```

[2016-02-24 11:46] 3epnm opened #35 "Uncaught ReferenceError: module is not defined"
I just generated a material-app following the guide in the README.
I managed to start the server but then i get an error in the client.

Uncaught ReferenceError: module is not defined
  (anonymous function) @ index.js:1

Uncaught SyntaxError: Unexpected token e
  fromJson     @ angular.js:1272

Any Idea what is going wrong?

[2016-05-17 07:07] stupidisum commented on #20
Did you run `gulp build` before `npm start` ?

[2016-05-17 07:25] stupidisum opened #40 "update to jsdoc3 to fix this bug"
[code]

[2016-05-17 11:21] #33 closed

[2016-05-17 11:21] #31 closed

[2016-05-17 11:23] #40 closed

[2016-05-17 11:23] #34 closed

[2016-05-17 11:24] #30 closed

[2016-05-17 11:25] michaelkrone commented on #25
Should be closed with #38

[2016-05-17 11:25] #25 closed

[2016-05-17 11:25] michaelkrone commented on #26
Should be closed with #38

[2016-05-17 11:25] #26 closed

[2016-05-17 11:26] #21 closed

[2016-05-17 11:26] michaelkrone commented on #32
Should be closed with #38

[2016-05-17 11:26] #32 closed

[2016-05-17 11:43] stupidisum opened #44 "Update dependencies"

[2016-05-17 11:44] stupidisum opened #45 "'module name' and submodule"
Do you have time to do this?
Maybe our group can join you maintaining this repo.

[2016-05-17 13:18] michaelkrone commented on #45
Hi @stupidisum,

what do you mean with 'module name'?
I would be glad if you would like to help maintaining this repository.

[2016-05-17 14:16] stupidisum commented on #45
I found get complex route done without some trifle with module name.
I think it will be great if apiroute can do this:
[code]

I did something like this before in another [generator](https://github.com/stupidisum/generator-ng-zhaimi/blob/master/route/index.js#L19-L28)

[2016-05-17 14:19] michaelkrone commented on #45
Yes, this would be great.
What would you do if the 'parent' module does not exist yet?

[2016-05-17 14:21] stupidisum commented on #45
I just asked if user needs an abstract father
https://github.com/stupidisum/generator-ng-zhaimi/blob/master/route/index.js#L52-L69

[2016-05-17 14:24] stupidisum commented on #45
But my work with templates was bad. I just created the abstract route in the same file.
https://github.com/stupidisum/generator-ng-zhaimi/blob/master/templates%2Froute%2Froute(uirouter).js#L27-L42

[2016-05-17 14:34] michaelkrone commented on #45
Looks good, an optional abstract parent seems a good approach to me.
Would you like to dig into this? I could investigate in this feature too, but I am preparing an Angular Material update, so it would took some time.

[2016-05-17 14:45] stupidisum commented on #45
I think I will do this in this week if it's not too complex.
Our project needs this feature, but it needs time, too.

Is there any way to let apiroute generate the father routes one by one?
Or just add an abstract route like my old work do.

[2016-05-18 07:02] michaelkrone commented on #45
There is the possibility to use [generator.composeWith](http://yeoman.io/authoring/composability.html) and call the subgenerators. Or to call [createFiles and registerRoute](https://github.com/michaelkrone/generator-material-app/blob/master/generators/apiroute/index.js#L86) of the apiroute generator by hand. I think composeWith is a cleaner approach, what do you think?

[2016-05-18 10:53] stupidisum commented on #45
Yes, it's much better. Just like the `mkdir` command.

So, if I already have routes `a` and `a.b` and I want to generate a new route `a.b.c.d.e`
Command `material-app:apiroute a.b.c.d.e` is all I need and it's the same as the following commands. Module name should be exactly same as route name by default.

[code]

Here are some problems needs to be figured out.
1. How can generator tell `a.b` alre

[2016-05-18 11:26] michaelkrone commented on #45
1. The generated .yo-rc.json contains an angularModules section, which contains modules that have been registered by the generator. Since a route is wrapped in a module, we could lookup registered modules here or add a section for registered routes.

2. That's a harder one, we could adjust the template to insert child routes on some conditions, I do not know right now, have to think about it.

[2016-05-19 03:35] stupidisum opened #46 "How to deploy?"

[2016-05-21 05:39] stupidisum opened #49 "htmlUrl of directive causing render index.html"
because bashPath should be `client` but not `app`

[2016-05-22 03:49] stupidisum commented on #45
Hey, buddy. Do you have time to maintain this repo any more?
How about giving our group permissions to maintain this repo?

[2016-05-22 04:14] HelloJasonZhang commented on #20
I also met this issue on Window, Run gulp styles command, ut there is no app.css to be generated in the client\styles directory.

[2016-05-23 07:20] stupidisum commented on #20
Are you Chinese?
Recommand: 不要用windows开发!
Maybe you can try the new windows10 bash for linux?

[2016-05-23 08:38] stupidisum opened #52 "gulp unit: ERROR [config]: File /--app-directory--/gulp../karma.conf.js does not exist!"

[2016-05-23 12:53] #49 closed

[2016-05-23 15:51] GeekEdem opened #55 "Generation error"
After
`yo generator-material-app` :

This generator can also be run with: yo material-app
 # Configuration
? Shall I scaffold out a JWT authentication (with users and stuff)? Yes
? Would you like to use socket.io? Yes

Error:

npm WARN Unexpected token ',' at 28:30
npm WARN                "passport-local": "~0.1.6",,
npm WARN                                           ^
npm WARN File: /home/chihray

[2016-05-24 06:52] michaelkrone commented on #55
Hi @GeekEdem,

this should be fixed now, can you try with 0.2.1 please?

[2016-05-24 06:59] michaelkrone commented on #45
Hi @stupidisum,

at the moment, I do not have much time for this project. What is you group about? I would like to grant you access for developing.

[2016-05-24 07:02] TejasCMehta commented on #55
@michaelkrone, Thanks for quick update!! I was just facing this problem 10mins ago and now
`npm install -g generator-material-app` works perfectly fine after your update.

BTW, great work!!

Cheers!

[2016-05-24 07:03] michaelkrone commented on #55
Thanks @GeekEdem, so I will close this issue.

[2016-05-24 07:03] #55 closed

[2016-05-24 07:07] michaelkrone opened #56 "Documentation about client model feature"

[2016-05-24 07:07] michaelkrone opened #57 "Documentation about subroute generation"

[2016-05-24 07:26] Stupidism commented on #45
We are IT department of [ClarityMovement](https://github.com/ClarityMovement)

https://clarity.io/

[2016-05-24 07:54] Stupidism commented on #45
Sorry, I forgot to label those PRs as WIP. After you merged them, I commited something else.
So I decided to `reset` back to 0.1.5 and merge master branch of my fork.
Sorry again for `push --force` in master.

Please add a protection for master branch in settings. I can't change the settings of this repo.
And please set develop as default branch!
From now, I will develop in git-flow-mode

[2016-05-24 08:23] Stupidism commented on #56
Not finished yet!
About: Client side model definition for form inputs and info display.
But I can make a task list for documents of done jobs here first.

## ModelDefinitions factory
- [ ] ModelDefinitions(nestedDefinition) RETURN modelDefinition
  - [ ] Param: nestedDefinition, mongoose-like nested definition of front-end model
  - [ ] returns: modelDefinition, array of propDefintions

  with uti

[2016-05-24 08:49] TejasCMehta opened #60 "newly generated code shows right side blank area, not full width listing"
![image](https://cloud.githubusercontent.com/assets/5519037/15497859/674c3ecc-21ba-11e6-8bd9-f7e887816a78.png)

[2016-05-24 08:53] TejasCMehta opened #61 "webdriveer-manger update error on new generator run - windows 8.1 pc"
![image](https://cloud.githubusercontent.com/assets/5519037/15498002/0a9ffed8-21bb-11e6-95c3-19c77a0582bc.png)

[2016-05-24 08:56] michaelkrone commented on #45
Done. I'll close this Issue now.

Closed with #48

[2016-05-24 08:56] #45 closed

[2016-05-24 08:58] michaelkrone commented on #44
I have a material update in the making, need to adjust it to the latest changes made to the templates.

[2016-05-24 08:59] michaelkrone commented on #56
We could generate some standard form validations for this, I will have a look at it.

[2016-05-24 10:26] TejasCMehta commented on #60
Ok, what I did to resolve this issue is

`//var sass = require('gulp-ruby-sass');`
`var sass    = require('gulp-sass');`

I am working on windows and do not want to install ruby so I used `gulp-sass` package to make css from scss.

Hope someone can take a help from this.

Cheers!!

[2016-05-24 11:47] michaelkrone commented on #60
@TejasCMehta
Glad you got it running. We should move to 'plain sass' insted of ruby sass in general.
So I close this issue, if you stumble on any problems please open a new issue.

[2016-05-24 11:47] #60 closed, assigned to nobody

[2016-05-24 14:58] Stupidism commented on #44
Use develop branch. It has the newest code.

[2016-05-24 14:59] Stupidism commented on #56
Yes, validations is in plan!

[2016-05-24 15:04] Stupidism commented on #61
Did you solve this yourself?
I noticed you opened another issue showing you have your app generated already.

[2016-05-24 15:44] Stupidism commented on #35
I located it.
This error happens in `material-design-icons/index.js` which has three lines of code:

[code]

Any idea of what's happening?@michaelkrone

[2016-05-24 15:55] michaelkrone commented on #35
I could only reproduce this once with an invalid jwt token, responding with the exception stack trace. Clearing the browser cache solved it, since then I was not able to produce this error. This is related to the `fromJson` error.

Seems like @3epnm ran into this with a new generated app

However, the Material icons index.js should not be included in the client sources, there is no global `module`

[2016-05-24 16:00] michaelkrone commented on #35
Cannot access the sources right now, will check later

[2016-05-24 16:40] Stupidism commented on #61
look at this #55

[2016-05-24 16:44] Stupidism commented on #35
I had this `module is not defined` error all  the time but I didn't pay attention to it.
Because it isn't causing anything bad except this error itself.

[2016-05-24 16:48] michaelkrone commented on #35
Both errors (fromJson and Module)?

[2016-05-24 16:53] #52 closed

[2016-05-24 17:03] Stupidism opened #63 "Unit tests failed after client-model-definition feature and crud-population merge in."

[2016-05-24 17:24] TejasCMehta commented on #61
yes, initially I was not above run the command `npm install generator-material-app` command but then @michaelkrone  updated the repo and I was able to run the command, but then in the end this error came.

[2016-05-24 17:30] TejasCMehta opened #64 "gulp watch and livereload"
how can we add gulp watch and livereload so do not need to run npm start after any file change?

[2016-05-24 19:51] michaelkrone opened #65 "Skip node 0.x support"
I would like to skip support legacy node versions. Support for a current LTS Version should be sufficient.
This would enable us to use ES2015 features.

[2016-05-24 21:15] michaelkrone commented on #61
This seems to be a known problem with gulp-protractor and windows. I will try to fix it by using the protractor binary instead, there is evidence on the web this helps.

[2016-05-24 21:19] michaelkrone opened #66 "Restore master to 0.2.2 features"
Since the reset to 0.1.5, the master branch lacks all feature PR's done by @stupidisum. At the moment there is no branch reflecting the npm published version. Develop should be updated accordingly to merge it into master.

[2016-05-24 21:23] michaelkrone commented on #64
Just run `gulp watch` in a terminal. A browser window will open with browser sync active. It will refresh the page if any file is changed. If a scss file is changed it will get compiled.

I will close this Issue, post here if you have any questions.

[2016-05-24 21:23] #64 closed, assigned to nobody

[2016-05-24 21:27] michaelkrone commented on #61
Need to solve #66 before I can publish a new version. To try if it works you might checkout the  fix/webdriver-manager branch and do a `npm link` in the cloned directory. Then you are able to call `yo material-app` with the fix applied, or just wait till the merging is done.

[2016-05-24 21:51] michaelkrone commented on #46
Closed with merge of #62

[2016-05-24 21:51] #46 closed

[2016-05-25 02:57] Stupidism opened #69 "In production, lodash is missing"
because .gitignore contains `dist` and lodash main file is in `dist`

[2016-05-25 02:59] Stupidism opened #70 "In production, socket-io.client is missing"
because server only serve this in development.

[code]

I want to change this serveClient flag to always true. Is there a better way to fix this?

[2016-05-25 03:05] #69 closed, assigned to Stupidism

[2016-05-25 03:09] Stupidism commented on #70
Seems to be fixed already in #62

[2016-05-25 03:10] #70 closed, assigned to nobody

[2016-05-25 03:14] Stupidism commented on #66
You mean develop should be ready for next release asap?

[2016-05-25 06:50] michaelkrone commented on #66
Not asap, but we should merge all your features into develop to be able to push fixes easily.

[2016-05-25 06:50] michaelkrone commented on #70
Yep, this is fixed with #62

[2016-05-25 07:07] michaelkrone commented on #35
This can be closed if develop is merged into master the next time.

[2016-05-25 07:09] michaelkrone commented on #61
@TejasCMehta
Even better: Do a `npm install --save-dev protractor` and in you package.json change the "postinstall" line to `"postinstall": "node ./node_modules/protractor/bin/webdriver-manager update",`

[2016-05-25 08:31] Stupidism opened #76 "gulp watch, can't toggle mainMenu"
got a chrome warning:
Deferred long-running timer task(s) to improve scrolling smoothness. See crbug.com/574343.

[2016-05-25 09:21] TejasCMehta opened #77 "Can I consider this as a production ready code?"
This is awesome generator, and I am feeling great by coming to this repo. Couple of thing I am still not able to identify.

I am trying to evaluate this generator and dev mode it works fine but still not sure that code is ready for production server or not.

Even there is not any easy command to run code in production mode?

`gulp watch` shows mongoose connection error.
`NODE_ENV=production npm ru

[2016-05-25 09:25] TejasCMehta opened #78 "Please release one stable version with all the fixes which are pending in PR."
I think most of the code is getting fixed on daily basis so how can I get that latest fixes in my current code, and once you release that how can I upgrade my code to that?

[2016-05-25 09:26] TejasCMehta commented on #64
`gulp watch` gave me below message

![image](https://cloud.githubusercontent.com/assets/5519037/15534911/c217890a-2288-11e6-91a4-28588a82e08d.png)

[2016-05-25 09:30] Stupidism commented on #78
If you don't mind some half-work. Try

[code]

then your global generator-material-app will link to this local project

[2016-05-25 09:37] Stupidism commented on #77
`gulp watch` is not working now. @michaelkrone #79

`NODE_ENV=production npm run seed` is for production to create init root user.
When development you don't need this.
But you can emulate production with this command in your computer.

Your server environment NODE_ENV should be production already.
You should find some place to config your server to run `npm run seed` after launch.
or you can ssh

[2016-05-25 09:39] Stupidism opened #79 "gulp watch is not working"

[2016-05-25 09:40] Stupidism opened #80 "gulp jshint is not working"

[2016-05-25 09:40] Stupidism opened #81 "gulp unit:server is not working"

[2016-05-25 09:44] Stupidism commented on #81
#63

[2016-05-25 09:44] #63 closed, assigned to nobody

[2016-05-25 09:46] Stupidism commented on #81
[code]

[2016-05-25 09:46] Stupidism commented on #81
[code]

[2016-05-25 09:46] Stupidism commented on #81
This is because I add 404 not found for get put and delete method of ParamController

[code]

[2016-05-25 10:06] Stupidism commented on #81
And before all these

[code]

[2016-05-25 10:32] TejasCMehta commented on #78
sure, I will try this and let you know!!

[2016-05-25 10:33] TejasCMehta commented on #77
I run `set  NODE_ENV=production` on windows command prompt and it set env mode= production, gulp build work fine and indicates that it runs in production mode on npm start, but it do not able to find npm run seed command.

`npm run seed` is not found in local npm folder. how this works? will go inside seed.js file?

[2016-05-25 12:16] TejasCMehta commented on #66
How you guys handles releases? I have not seen any releases and details about changes inside that. Please release on stable version so I can convince my organization to go with this amazing generator.

[2016-05-25 16:30] Stupidism commented on #64
I have this error, too. Let me look at this.
`gulp watch` outputs

[code]

while `npm start` outputs

[code]

I think this is the reason

No, it's not...

[2016-05-25 17:26] Stupidism commented on #64
Haha, I found the bug.

[2016-05-25 17:31] Stupidism commented on #64
This is because gulp watched too many files.

Change your `gulp/config.js` `src.client.js` to

[code]

and `src.html` to

[code]

[2016-05-25 17:37] Stupidism commented on #77
Sorry, I forgot npm run seed is not in 0.2.2.

For now, you have two options:
1. You can modify your `server/config/seed.js` to seed a root user in production.
2. You can use develop branch first and wait for our next release

[2016-05-25 17:38] #77 closed, assigned to nobody

[2016-05-25 18:16] TejasCMehta commented on #64
Hey @stupidisum thanks for quick fix !!

How can I take this latest fix in my working application?

[2016-05-25 18:18] TejasCMehta commented on #77
I am eager to grab your next stable release, please give me estimate how long should I wait?

[2016-05-25 18:51] TejasCMehta commented on #61
![image](https://cloud.githubusercontent.com/assets/5519037/15552300/661d1940-22d7-11e6-91c9-42f14038b044.png)

[2016-05-25 18:52] TejasCMehta commented on #61
changing to  `"postinstall": "node ./node_modules/protractor/bin/webdriver-manager update"`
resolves the issue!
Thanks!!

[2016-05-25 18:55] TejasCMehta commented on #64
#79

[2016-05-25 20:44] #79 closed, assigned to nobody

[2016-05-26 02:22] TejasCMehta opened #85 "gitignore is missing on new generation."

[2016-05-26 05:39] Stupidism commented on #77
Sorry, I'm an undergrade now. I'm busy with my Graduation Project. I joined this repo a few days ago. So what I'm contributing now is what I've done in my own project. Maybe after I finish my graduation project in early June, I will focus on next stable release but not fancy new and half features now.

This project is what my company is using now. So I'll continue to contribute after that. Don't w

[2016-05-26 05:41] Stupidism commented on #64
As I said above, change your own gulp/config.js.

[2016-05-26 05:42] Stupidism commented on #85
v0.2.2 or develop branch?

[2016-05-26 06:16] michaelkrone commented on #77
I am on a conference today, but the weekend is reserved for doing a Material Update and alining the master/published Version with develop.

Then the production env should be work with npm Version.

[2016-05-26 07:15] michaelkrone commented on #66
@TejasCMehta
I will get branches even this weekend.

[2016-05-26 07:15] #61 closed, assigned to michaelkrone

[2016-05-26 08:02] Stupidism opened #86 "[TODO]: set whole clientModelDefinition as optional"
Because not everyone wants to use this

[2016-05-26 08:03] Stupidism commented on #85
only .gitignore or all dot-started files?

Maybe gulp with your filesystem can't copy hidden files

[2016-05-26 08:04] Stupidism commented on #76
Nothing related to this warning.
This warning happens when I open `device mode` in chrome.

[2016-05-26 08:05] #76 closed, assigned to nobody

[2016-05-26 08:07] Stupidism commented on #56
These are detail of fulfill and doesn't need docs for now.
doc of how to use modelDefinition #83

[2016-05-26 08:07] #56 closed

[2016-05-26 08:45] TejasCMehta commented on #85
only `.gitignore` we also need bower_components and node_modules shuould be ignored, other then that `.jshintrc` `.jscsrc` `.bowerrc` is there

[2016-05-26 08:46] TejasCMehta commented on #85
I added that  `.gitignore`  file manually and put below items as  ignore list.

`/node_modules`
`/build`
`/dist`
`.idea`
`.tmp`
`npm-debug.log`
`.sass-cache`

[2016-05-26 08:47] TejasCMehta commented on #66
That will be Awesome!!! :)

[2016-05-26 08:50] TejasCMehta commented on #77
Thanks @stupidisum @michaelkrone

[2016-05-26 08:51] TejasCMehta commented on #64
It  works great now, after your said changes!! :)

Many thanks!

[2016-05-26 08:53] TejasCMehta commented on #77
Should we bother about below warnings while doing npm install from git bash on windows system as Admin rights ?

![image](https://cloud.githubusercontent.com/assets/5519037/15569164/685e004a-234d-11e6-8f7e-9c585c43ad5c.png)

[2016-05-26 09:00] Stupidism commented on #85
Some developers choose not to ignore bower_components.

[2016-05-26 09:00] #85 closed, assigned to nobody

[2016-05-26 09:04] Stupidism commented on #77
some old dependencies caused this. I have some of these warnings, too.
Don't ask unrelated questions in closed issue.
Open another issure if you do have a question.

[2016-05-26 09:25] Stupidism opened #87 "websocket fails when gulp watch"
[code]

[2016-05-26 09:25] Stupidism commented on #87
I met this error before in production. That's because nginx only support http but not tcp. May be helpful experience.

[2016-05-26 09:30] Stupidism commented on #20
I have a friend came up with this issue, too. I think what @donchoko said is the right answer

[2016-05-26 09:30] #20 closed

[2016-05-26 09:31] #17 closed

[2016-05-26 10:19] TejasCMehta opened #88 "gulp-protractor works"
![image](https://cloud.githubusercontent.com/assets/5519037/15571556/1a2091d4-2359-11e6-8a3c-b07591af5bdd.png)

instead of
`"postinstall": "node node_modules/protractor/bin/webdriver-manager update"`

used
`"postinstall":"node ./node_modules/gulp-protractor/node_modules/protractor/bin/webdriver-manager update"`

![image](https://cloud.githubusercontent.com/assets/5519037/15571612/6c411ccc-2359-11e

[2016-05-26 14:23] Stupidism commented on #88
This is a known problem and should be fixed in develop.
Because npm2 and npm3 build dependencies differently.

are you using npm2.x ?
run `npm -v` to check

[2016-05-26 14:26] #88 closed, assigned to nobody

[2016-05-26 16:58] TejasCMehta commented on #88
npm version : `3.8.6`

[2016-05-26 17:59] michaelkrone commented on #77
@TejasCMehta
Hi, please do not use the app in production of it can be accessed via the Internet. The packaged jwt version has a known security issue. Please wait for #44 to be closed.

[2016-05-26 19:22] michaelkrone commented on #78
Duplicate of #66

[2016-05-26 19:22] #78 closed, assigned to nobody

[2016-05-27 04:55] Stupidism opened #89 "gulp unit:client is not working"
[code]

[2016-05-27 18:17] michaelkrone commented on #87
I got it running with the latest BS version. Should be closed with #44.

[2016-05-28 06:09] HelloJasonZhang commented on #20
Thank @stupidisum , Windows is not friend.

[2016-05-29 19:27] michaelkrone opened #91 "Cannot save clientModelDoc"
When editing a clientModelDoc, the form does not get dirty and I cannot save the item.

[2016-05-29 19:32] michaelkrone opened #92 "When creating a clientModelDoc the empty detail view is displayed"

[2016-05-29 20:11] michaelkrone commented on #44
[code]

[2016-05-29 20:39] michaelkrone commented on #86
Definitely!
One of the strength of this generator was the files generated by the apiroute generator could be edited (designed!) and extended easily. This is completely gone now, this needs to be rewinded (made optional at apiroute generation).

[2016-05-29 21:02] michaelkrone commented on #86
Additionally there could be a [server model generator](https://github.com/topliceanu/mongoose-gen) from which the clientModelDefinition can be generated, so the clienModelDefinition could sync with the server model - including validation and stuff.

There needs to be an optional mapping from document property to form display name, but in most cases a _.capitalize(_.humanize) gives nice defaults. W

[2016-05-30 06:35] Stupidism commented on #86
I think based on the current demo option, this is a easy job. Just restore the old code with <% if()> will do the trick.
However, from now to June 14, I will start doing my graduation paper. I'm wondering if you can do this.

I will do this after I finished my paper or after the deadline if you don't have time to do this.

[2016-05-30 06:41] Stupidism opened #93 "[TODO] Refactor client model definition to a separate .definition.js file"
ModelDefinition can be large and optional.
Maybe it will need to be synced by generator, too.
So, a separate file is better.

Like what I did [before](https://github.com/michaelkrone/generator-material-app/blob/5c4ddd22bb1d14581b3354e2f75557df134d113a/generators/templates/apiroute/name.definition.js).

Just replace const with factory

[2016-05-30 06:45] Stupidism commented on #92
This is happening in new apiroutes. I don't know why. Maybe something related to this?  15990c6

[2016-05-30 06:46] Stupidism commented on #91
Just edit?

[2016-05-30 06:52] michaelkrone commented on #91
I think it was only edit

[2016-05-30 06:53] Stupidism commented on #86
Server model generator is nice. With #93

[2016-05-30 06:54] Stupidism commented on #86
About the default display name, it's desc option now. And it is indeed default to capitailize of name of property

[2016-05-30 06:56] michaelkrone commented on #86
Yes, just wrapping in an `if` would be sufficient, I think.

[2016-05-30 06:59] Stupidism commented on #91
But I can't reappear this in my environment. I can edit normally.

[2016-05-30 08:47] michaelkrone commented on #91
I will recheck.

[2016-05-30 14:51] michaelkrone commented on #91
I just checked: I cannot edit a clientModelDoc (the save button will not get clickable).
Additionally, when editing the name and setting it back to the origin name the validation failed. There is the `remote-unique-ignore` attribute for this cases, which allows a value to be ignored.

[2016-05-30 16:14] Stupidism commented on #91
I found the problem.
Last time I add doc for ng-messages, I only added properties on client side

[2016-05-30 16:47] #91 closed, assigned to Stupidism

[2016-05-30 16:48] Stupidism opened #94 "repeat-input error"
for name and repeatName

If you change repeatName first and then change name to the same as repeatName, it's still error.

[2016-05-30 16:57] Stupidism commented on #92
Do you remember the close-upon-open bug? Now I know why.
It's because when you open a create dialog, then the detail state is open, so the state changed and `$mdDialog.hide();` is called.

I didn't know much about this project then so I did what they talked in that issue. It comes out now the `$mdDialog.hide();` is not wrong. Somewhere else, a stateChange happens and causes this.

So I think it's

[2016-05-30 18:12] michaelkrone commented on #92
I will look into this

[2016-06-05 11:24] Stupidism opened #95 "Is is possible to have create modal be open from any state."
So that when you `create/edit` a resource A containing a property referenced to B, you click a `new button` aside the select dropdown and create a new B in a new popup modal with A.list.detail below `not changed` to B.list.

[2016-06-05 11:26] Stupidism commented on #92
This bug is causing a seriously annoying thing. When I add a button to any create state in a create page. It cant transfer to that state, because last modal is not closed.

[2016-06-06 07:12] michaelkrone commented on #95
You might either introduce a new route which opens and closes  a dialog on state change, but would need to inject the new created document per websocket, or encapsulate the dialog and creation logic inside a service which will give you the resulting new document as the result of the modal close call.

[2016-06-12 05:53] Stupidism commented on #44
How is this going now?

[2016-06-30 09:14] Stupidism opened #96 "Error 'UnauthorizedError: jwt malformed' in auth"
[code]

[2016-06-30 09:15] Stupidism commented on #96
Caused by DateInterceptor converting token into date

[2016-06-30 09:22] #96 closed, assigned to nobody

[2016-06-30 11:04] prabashbala opened #97 "Error: Cannot find module '***/protractor/bin/webdriver-manager'"
Error while running 'bower install & npm install'  to install the required dependencies. Error log below.

[2016-07-04 03:09] Stupidism commented on #97
Change `gulp-protractor/node_modules/protractor/` in package.json to `protractor/`.
You'd best wait for next release...

[2016-07-04 11:27] prabashbala commented on #97
Thanks , it worked.

[2016-07-05 02:43] Stupidism commented on #44
BUG: Twice tab to next input
https://github.com/angular/material/issues/458

[2016-07-05 02:44] Stupidism commented on #44
@michaelkrone I'm back after graduation! What about you?

[2016-07-05 02:45] #97 closed, assigned to nobody

[2016-07-05 02:45] #95 closed, assigned to nobody

[2016-07-13 20:55] michaelkrone commented on #44
Hi @stupidisum, how was it going?
I was on vacation the last 2 weeks. Just starting to dig into all this again.

[2016-07-14 10:08] Stupidism commented on #44
Glad to see you are back! I've done some more practical features. I think we can consider next release after you finish this dependency update and I set my ModelDefinitions as optional #86

[2016-09-19 18:55] mikesterific opened #98 "EventEmitter depreciation in gulpfile"
Hi, I'm getting the following when attempting 'gulp build':
events.js:160
      throw er; // Unhandled 'error' event
      ^
Error: spawn sass ENOENT
  at exports._errnoException (util.js:1007:11)
  at Process.ChildProcess._handle.onexit (internal/child_process.js:182:32)
  at onErrorNT (internal/child_process.js:348:16)
  at _combinedTickCallback (internal/process/next_tick.js:74:11)
  at process

[2016-09-20 05:52] Stupidism commented on #98
install sass in your machine...

[2016-09-22 17:45] victorcechinel opened #99 "gulp-protractor webdriver-manager error"
[code]

**Node version:** v6.5.0
**NPM version:** 3.10.7

[2016-09-23 07:26] Stupidism commented on #99
Please search gulp-protractor in issues first and find a solution. Tell me if you still have this issue

[2016-09-26 07:08] michaelkrone commented on #98
See here: http://sass-lang.com/install

[2016-09-27 05:11] #99 closed, assigned to nobody

[2016-09-27 05:12] victorcechinel opened #100 "acl.user not found"
`
jsonwebtoken: expiresInMinutes and expiresInSeconds is deprecated. (/Users/victorcechinel/projetos/brcasp/app/server/lib/auth/auth.service.js:131:14)
Use "expiresIn" expressed in seconds.
POST /auth/local 200 34ms - 204b
defaultErrorHandler /api/users/me 200 [Error: No active context found to set property request:acl.user]
Error: No active context found to set property request:acl.user
    at Ob

[2016-10-14 06:19] spaceghostu commented on #100
+1

[2016-10-17 02:32] Stupidism commented on #100
This repo wasn't finished(Notice the `under heavy development`) and didn't get any contributions for a long time.
This generator isn't used very much in my team, so I don't have the passion to complete this repo.
The author seems busy, too.

Recommendations:
1. Find another generator/start-kit.
2. Try node 4, npm 3.
3. Try develop branch. If it works, fork this repo and maintain it yourselves. If

[2017-01-17 20:48] tenchugecko commented on #100
is there any help on this, another project using request-context, router and passport?
what did change so hard in mongoose update's
Why does the active context not initialize anymore?

i'm on this right now, and went through all of the code twice now.

[2017-01-17 21:15] michaelkrone commented on #100
Hi @tenchugecko,

I'am sorry you are facing problems with the generated code. This project has not seen any activity a long time, since I am very busy at the moment. I am willing to accept any pull requests or contributors, but since there are many better thought and much better supported AngularJS and Angular(2) generators out there, in all flavours and sizes, maybe you might port your code to th

[2017-01-17 22:25] tenchugecko commented on #100
This thing broke when i updated mongoose from 4.2.6 to 4.7.6
the global bluebird promise didnt change anything :(

[2017-01-17 23:16] michaelkrone commented on #100
Die you try setting `mongoose.promise = require ('bluebird')`?

[2017-01-18 02:37] tenchugecko commented on #100
forked and updated all of my project
-) jwt expireInMinutes => change to:  expiresIn
-) Cannot read property 'model' of undefined in the controllers (this.model)
=>seems like prototyping class stuff.
-) mongoose.promise didnt help on the context, when used in the model.
didnt find the "global way" yet
-) mongoose populate doesnt work correctly

time will solve this.
 :)

[2017-01-22 19:45] tenchugecko commented on #100
pleas give me a hint if you can: why is "this" not avaiable in the .prototype

defaultErrorHandler /api/users 200 TypeError: Cannot read property 'omit' of undefined
    at index (G:\_soundsets\_projects\SoundSetsWebAdmin\sswa_updated\server\lib\controllers\crud.controller.js:101:11)
   ......

[2017-01-24 02:08] tenchugecko commented on #100
so i need to bind things: got the user route to work again
http://stackoverflow.com/questions/34680450/this-is-undefined-in-expressjs-route-handler
server/api/user/index.js:

router.route('/').get(isAdmin, controller.index.bind(controller))

and in the controller class constructors somewhere
this.index = this.index.bind(this);

[2017-04-04 12:23] issame opened #101 "angular.module(...).info is not a function"
Hi,

I just generated a project and I am unable to get it working, this is the error displayed on the browser's javascript console
Uncaught TypeError: angular.module(...).info is not a function
    at angular-resource.js:445
    at angular-resource.js:858

[2017-07-10 00:28] mikej2017 commented on #101
Same, see attached, seems like failing on parent property, build and startup output below, Chrome dev log is below that:

C:\temp\portal\yeoman_materialui>gulp build
[20:22:47] Using gulpfile C:\temp\portal\yeoman_materialui\gulpfile.js
(node:13048) DeprecationWarning: process.EventEmitter is deprecated. Use require('events') instead.
[20:22:47] Starting 'sass'...
[20:22:47] gulp-ruby-sass: stderr

[2017-07-27 21:58] patoigz commented on #101
I have the same issue...

[2017-08-11 21:41] fjvalles commented on #101
Same here

[2018-02-27 05:37] halbano commented on #35
Having this issue too. Which is possible fix for this?

[2018-02-28 02:45] Stupidism commented on #35
@halbano This repo is not maintained any more...

[2018-06-17 08:49] assiomatica commented on #101
me too